<video id="intro_vid" controls preload="none" width="100%" style="min-height: 600px;"  poster="/sites/default/files/empowering-hero-03.jpg">
  <source src="http://ecomotors2.staging.pcgcampbell.com/sites/default/files/HI%20REZ_EcoMotors_OPOC_R2%281%29.mp4" type='video/mp4' />
  <source src="http://ecomotors2.staging.pcgcampbell.com/sites/default/files/HI%20REZ_EcoMotors_OPOC_R2%281%29.ogv" type='video/ogg' />
  <source src="http://ecomotors2.staging.pcgcampbell.com/sites/default/files/HI%20REZ_EcoMotors_OPOC_R2%281%29.webm" type='video/webm' />
Your browser does not support the video tag.
</video>

<div id="why-em" name="why-em" class="container space why-em">
  <div class="row">
    <div class="col-sm-8 why-em">
      <h1 class="large light">Why EcoMotors?</h1>
      <p>&nbsp;</p>
      <p class="lead">EcoMotors is a different kind of industrial company, driven by big ideas and intent on empowering change in the world.</p>
      <p>EM is redefining how the world is powered by challenging conventions about the size, efficiency and versatility of the internal combustion engine.</p>
      <p>Our unique opposed-piston opposed-cylinder (opoc®) engine technology enables endless potential for innovation in vehicle and machine design, giving our customers the opportunity to create distinctive value and to make meaningful, lasting changes that benefit the world.</p>
      <p class="spacer_s2">&nbsp;</p>
    </div>
    <div class="col-sm-4">
      <a href="/sites/default/files/crank-block-loop.gif" class="single-popup" title="EcoMotors opoc® engine.">
        <img src="/sites/default/files/crank-block-loop.gif" alt="EcoMotors OPOC engine.">
      </a>
    </div>
  </div>
</div>

<div id="credo" class="parallax space credo" data-stellar-background-ratio="0.5" data-stellar-vertical-offset="1090">
  <div class="container">
    <div id="trigger1" class="spacer_s0"></div>
    <div class="row">
      <div class="col-md-6 col-md-offset-6 our-credo">
        <h1 class="xlarge light shadow">Disruptive<br> new solutions.</h1>
      </div>
    </div>
  </div>
</div>

<div id="products" class="container space products">
  <div class="row">
    <div class="col-sm-12">
      <h1 class="large light">Products</h1>
    </div>
    <div class="col-sm-4">
      <h2 class="light">The opoc<span class="superscript">&reg;</span> Engine</h2>
      <br><br><br>
      <img class="product-row-img" src="/sites/default/files/crank-block-loop.gif" alt="The one and only opoc®">
      <p>&nbsp;</p>
      <h4><a class="collapser" href="#opoc-details" data-toggle="collapse" title="View Advantages and Benefits"><i class="fa fa-angle-down"></i> View Advantages and Benefits</a></h4>
      <div class="tab-content">
        <div class="collapse fade" id="opoc-details">
          <p>This patented design creates a ground-breaking internal combustion engine family architecture that will run on a number of different fuels, including gasoline, diesel and ethanol. The result is an engine family that is lighter, more efficient and economical, with lower exhaust emissions.</p>
          <p><a class="btn btn-small btn-tertiary animated fadeInDown" href="opoc-overview" title="opoc">Visit opoc® overview page</a></p>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <h2 class="light">Electrically Controlled Turbocharger (<abbr title="Electrically Controlled Turbocharger">ECT</abbr>)</h2>
      <br>
      <img class="product-row-img" src="/sites/default/files/ect-01.png" alt="Electrically Controlled Turbocharger">
      <p>&nbsp;</p>
      <h4><a class="collapser" href="#ect-details" data-toggle="collapse" title="View Advantages and Benefits"><i class="fa fa-angle-down"></i> View Advantages and Benefits</a></h4>
      <div class="tab-content">
        <div class="collapse fade" id="ect-details">
          <p>EcoMotors' Electrically Controlled Turbocharger (<abbr title="Electrically Controlled Turbocharger">ECT™</abbr>) is an exciting step in the evolution of exhaust driven turbo/superchargers for internal combustion engines.  It combines a mechanical compressor and exhaust driven turbocharger into a single mechatronik solution by placing a high speed motor between the compressor and turbine wheels.  The result is an independently controlled air and energy handling system in a small, low cost package.</p>
          <p><a class="btn btn-small btn-tertiary animated fadeInDown" href="ect-overview" title="ECT Overview">Visit ECT overview page</a></p>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <h2 class="light">Counter Rotating Generator (<abbr title="Counter Rotating Generator">CRG</abbr>)</h2>
      <br>
      <img class="product-row-img" src="/sites/default/files/crg-01.png" alt="Counter Rotating Generator">
      <p>&nbsp;</p>
      <h4><a class="collapser" href="#crg-details" data-toggle="collapse" title="View Advantages and Benefits"><i class="fa fa-angle-down"></i> View Advantages and Benefits</a></h4>
      <div class="tab-content">
        <div class="collapse fade" id="crg-details">
          <p>EcoMotors' Counter Rotating Generator (<abbr title="Counter Rotating Generator">CRG</abbr>) applies the benefits of power density, displacement on demand and compact packaging of EM’s dual-module opoc® engine layout to an electrical generator configuration.  The result is extraordinary electrical performance in a highly fuel efficient, small, and quiet machine.</p>
          <p><a class="btn btn-small btn-tertiary animated fadeInDown" href="crg-overview" title="ECT Overview">Visit CRG overview page</a></p>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="col-sm-12">
      <p class="spacer_s2">&nbsp;</p>
    </div>
  </div>
</div>

<div id="drawing" class="parallax space" data-stellar-background-ratio="0.7">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 value">
        <div id="trigger2" class="spacer_s0"> </div>
        <h1 class="xlarge light shadow">Value</h1>
      </div>
    </div>
  </div>
</div>

<div id="value" class="container space value">
  <div class="row">
    <div id="leaf" class="col-sm-3">
      <div id="trigger4" class="spacer_s0"> </div>
      <img src="/sites/default/files/leaf.png" alt="leaf.png">
    </div>
    <div class="col-sm-8 col-sm-offset-1 whats-our-mission">
      <div id="trigger3" class="spacer_s0"> </div>
      <h2>Clean, Efficient and Lightweight Propulsion Systems for a Better World.</h2>
      <p class="lead">EM offers a solution to one of the world’s most pressing problems:  how to create more power with less fuel.  We’ve done this by developing a new engine architecture we call opposed-piston opposed-cylinder (opoc) that works far more efficiently with the fuels and fueling infrastructure that we rely on today (and for many years to come).</p>
      <p>The opoc engine architecture is also unique in that it is significantly smaller and lighter than conventional engines, it has far fewer parts, and it offers unprecedented power density.  What does this mean?  More miles with less fuel; more power in less space; more reliability due to fewer parts; more comfort because of less vibration.  Savings in engine size and weight can be put to much better use - more cargo, more room, more capacity, more aerodynamic design - more of what you value.</p>
      <p>We think the opoc engine is a true enabler, offering endless potential for design innovation in a broad range of vehicles and machines - empowering OEMs and end-users alike.</p>
      <p class="spacer_s1">&nbsp;</p>
    </div>
    <div class="col-xs-4" id="light-vehicles">
      <img src="/sites/default/files/light.jpg">
      <h3 class="centered">Light Vehicles</h3>
    </div>
    <div class="col-xs-4" id="heavy-vehicles">
      <img src="/sites/default/files/hd-on.jpg">
      <h3 class="centered">Heavy-Duty On-Road Vehicles</h3>
    </div>
    <div class="col-xs-4" id="off-road-vehicles">
      <img src="/sites/default/files/hd-off-02.jpg">
      <h3 class="centered">Off-Road Vehicles</h3>
    </div>
    <div class="col-xs-12">
      <p class="spacer_s1">&nbsp;</p>
    </div>
  </div>
</div>

<div id="culture" class="parallax space" data-stellar-background-ratio="0.5">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-6 culture">
        <div id="trigger5" class="spacer_s0"></div>
        <h1 class="xlarge light shadow">Culture</h1>
      </div>
    </div>
  </div>
</div>

<div id="culture-section" class="container space">
  <div class="row">
    <div class="col-sm-8">
      <h1 class="light">Our Culture</h1>
      <p class="lead">EcoMotors (EM) is a company that has set out to create meaningful changes in the world. EM draws creative, passionate people who are inventive in everything they do.</p>
      <p>We focus on solutions and are driven by possibility.  We are honest and candid in our approach with coworkers, customers and other stakeholders.  We follow-through.  We do what we say.  We choose action over inaction every time.  EM benefits from the flexibility and freedom of an early-stage company, however we take responsibility for our work and the growth of our company.  EM employees are confident contributing ideas across a boundary-less, open organization.  We stay positive with an energy and enthusiasm to create and to win.</p>
      <p class="spacer_s2">&nbsp;</p>
    </div>
    <div class="col-sm-4">
        <img class="th" src="/sites/default/files/em-culture.jpg" alt="Culture">
    </div>
  </div>
</div>

<div id="leadership" class="parallax space" data-stellar-background-ratio="0.5">
  <div class="container">
    <div class="row col-md-6 leadership">
      <div id="trigger6" class="spacer_s0"></div>
      <h1 class="xlarge light shadow">Leadership</h1>
    </div>
  </div>
</div>

<div id="leaders" class="container space leaders">
    <div class="row">

  <div class="col-xs-one-fifth tile-leader">
    <div class="tile-leader-image thumb">
      <a class="tile-leader-info" href="/prof-peter-hofbauer">
        <img src="/sites/default/files/em-prof.jpg" alt="Prof. Peter Hofbauer">
        <div class="tile-leader-image-inner">
          <span class="tile-leader-name">Prof. Peter Hofbauer</span><br>
          <span class="tile-leader-title">Founder, Chairman, and Chief Technical Officer</span>
        </div>
      </a>
      <div class="tile-leader-caption">
        <p><strong>Prof. Peter Hofbauer</strong><br><em>Founder, Chairman, and Chief Technical Officer</em><br><a rel="tooltip" data-original-title="read bio" href="/prof-peter-hofbauer">read bio</a></p>
      </div>
    </div>
  </div>

<div class="col-xs-one-fifth tile-leader">
    <div class="tile-leader-image thumb">
      <a class="tile-leader-info" href="/amit-soman">
        <img src="/sites/default/files/em-amit.jpg" alt="Amit Soman">
        <div class="tile-leader-image-inner">
          <span class="tile-leader-name">Amit Soman</span><br>
          <span class="tile-leader-title">President and Chief Operating Officer</span>
        </div>
      </a>
      <div class="tile-leader-caption">
        <p><strong>Amit Soman</strong><br><em>President and Chief Operating Officer</em><br><a rel="tooltip" data-original-title="read bio" href="/amit-soman">read bio</a></p>
      </div>
    </div>
  </div>

<div class="col-xs-one-fifth tile-leader">
    <div class="tile-leader-image thumb">
      <a class="tile-leader-info" href="/iain-ridley">
        <img src="/sites/default/files/em-iain.jpg" alt="Iain Ridley">
        <div class="tile-leader-image-inner">
          <span class="tile-leader-name">Iain Ridley</span><br>
          <span class="tile-leader-title">Vice President of Engineering</span>
        </div>
      </a>
      <div class="tile-leader-caption">
        <p><strong>Iain Ridley</strong><br><em>Vice President of Engineering</em><br><a rel="tooltip" data-original-title="read bio" href="/iain-ridley">read bio</a></p>
      </div>
    </div>
  </div>

<div class="col-xs-one-fifth tile-leader">
    <div class="tile-leader-image thumb">
      <a class="tile-leader-info" href="/allan-wang">
        <img src="/sites/default/files/em-allan.jpg" alt="Allan Wang">
        <div class="tile-leader-image-inner">
          <span class="tile-leader-name">Allan Wang</span><br>
          <span class="tile-leader-title">Vice President, Sales and Marketing</span>
        </div>
      </a>
      <div class="tile-leader-caption">
        <p><strong>Allan Wang</strong><br><em>Vice President, Sales and Marketing</em><br><a rel="tooltip" data-original-title="read bio" href="/allan-wang">read bio</a></p>
      </div>
    </div>
  </div>

<div class="col-xs-one-fifth tile-leader">
    <div class="tile-leader-image thumb">
      <a class="tile-leader-info" href="/cheryl-m-samarco">
        <img src="/sites/default/files/em-cheryl-02.jpg" alt="Cheryl M. Samarco">
        <div class="tile-leader-image-inner">
          <span class="tile-leader-name">Cheryl M. Samarco</span><br>
          <span class="tile-leader-title">Controller and Treasurer</span>
        </div>
      </a>
      <div class="tile-leader-caption">
        <p><strong>Cheryl Samarco</strong><br><em>Controller and Treasurer</em><br><a rel="tooltip" data-original-title="read bio" href="/cheryl-m-samarco">read bio</a></p>
      </div>
    </div>
  </div>

<div class="col-xs-one-fifth tile-leader">
    <div class="tile-leader-image thumb">
      <a class="tile-leader-info" href="/john-gartner">
        <img src="/sites/default/files/em-john.jpg" alt="Prof. Peter Hofbauer">
        <div class="tile-leader-image-inner">
          <span class="tile-leader-name">John Gartner</span><br>
          <span class="tile-leader-title">Vice President, Procurement &amp; Supply Chain Management</span>
        </div>
      </a>
      <div class="tile-leader-caption">
        <p><strong>John Gartner</strong><br><em>Vice President, Procurement &amp; Supply Chain Management</em><br><a rel="tooltip" data-original-title="read bio" href="/john-gartner">read bio</a></p>
      </div>
    </div>
  </div>

<div class="col-xs-one-fifth tile-leader">
    <div class="tile-leader-image thumb">
      <a class="tile-leader-info" href="/tyler-r-garrard">
        <img src="/sites/default/files/em-tyler-02.jpg" alt="Tyler R. Garrard">
        <div class="tile-leader-image-inner">
          <span class="tile-leader-name">Tyler R. Garrard</span><br>
          <span class="tile-leader-title">Chief Engineer, Mechatronics</span>
        </div>
      </a>
      <div class="tile-leader-caption">
        <p><strong>Tyler R. Garrard</strong><br><em>Chief Engineer, Mechatronics</em><br><a rel="tooltip" data-original-title="read bio" href="/tyler-r-garrard">read bio</a></p>
      </div>
    </div>
  </div>

<div class="col-xs-one-fifth tile-leader">
    <div class="tile-leader-image thumb">
      <a class="tile-leader-info" href="/adrian-tusinean">
        <img src="/sites/default/files/em-adrian-02.jpg" alt="Adrian Tusinean">
        <div class="tile-leader-image-inner">
          <span class="tile-leader-name">Adrian Tusinean</span><br>
          <span class="tile-leader-title">Lead Engineer, Special Engine Programs</span>
        </div>
      </a>
      <div class="tile-leader-caption">
        <p><strong>Adrian Tusinean</strong><br><em>Lead Engineer, Special Engine Programs</em><br><a rel="tooltip" data-original-title="read bio" href="/adrian-tusinean">read bio</a></p>
      </div>
    </div>
  </div>

  <div class="col-xs-one-fifth tile-leader">
    <div class="tile-leader-image thumb">
      <a class="tile-leader-info" href="/tony-mannarino">
        <img src="/sites/default/files/em-tony.jpg" alt="Tony Mannarino">
        <div class="tile-leader-image-inner">
          <span class="tile-leader-name">Tony Mannarino</span><br>
          <span class="tile-leader-title">CEO of Katech</span>
        </div>
      </a>
      <div class="tile-leader-caption">
        <p><strong>Tony Mannarino</strong><br><em>CEO of Katech</em><br><a rel="tooltip" data-original-title="read bio" href="/prof-peter-hofbauer">read bio</a></p>
      </div>
    </div>
  </div>

  <div class="col-xs-one-fifth tile-leader">
    <div class="tile-leader-image thumb">
      <a class="tile-leader-info" href="/jared-finney">
        <img src="/sites/default/files/em-jared.jpg" alt="Jared Finney">
        <div class="tile-leader-image-inner">
          <span class="tile-leader-name">Jared Finney</span><br>
          <span class="tile-leader-title">Vice President, Marketing and Strategy</span>
        </div>
      </a>
      <div class="tile-leader-caption">
        <p><strong>Jared Finney</strong><br><em>Vice President, Marketing &amp; Strategy</em><br><a rel="tooltip" data-original-title="read bio" href="/jared-finney">read bio</a></p>
      </div>
    </div>
  </div>
</div>
<div class="spacer_s1"></div>
</div>

<div id="our-investors" class="parallax space" data-stellar-background-ratio="0.5">
  <div class="container">
    <div class="row">
      <div class="col-md-6 our-investors">
        <div id="trigger8" class="spacer_s0"></div>
        <h1 class="xlarge light shadow">Our Investors</h1>
      </div>
    </div>
  </div>
</div>

<div id="investors" class="space container investors">
  <div class="row">
    <div class="col-md-4">
      <img src="/sites/default/files/khosla-logo.jpg"/>
      <ul class="disc">
        <li>Largest cleantech venture capital globally w/ 60+ active investments</li>
        <li>Founded by Vinod Khosla, founder and CEO of Sun Microsystems and former partner at Kleiner Perkins</li>
        <li>~$3Bn in committed capital managed</li>
        <li>Supports startups in energy, new materials, mobility, and internet</li>
      </ul>
    </div>
    <div class="col-md-4">
      <img src="/sites/default/files/gates.jpg"/>
      <ul class="disc">
        <li>American business magnate, investor, programmer, inventor, and philanthropist</li>
        <li>Founder, former CEO, and current Chairman of Microsoft Corporation</li>
        <li>World's wealthiest person in 2013</li>
        <li>Active cleantech investor and advocate clean energy technology</li>
      </ul>
    </div>
    <div class="col-md-4">
      <img src="/sites/default/files/braemar-logo.jpg"/>
      <ul class="disc">
        <li>Team with over 4 decades devoted exclusively to developing, operating and investing in Energy Technology companies</li>
        <li>Consistently originates and serves as lead investor for new investments</li>
        <li>Leader in building global Partnerships across the Energy landscape</li>
        <li>Supports Energy Technology companies through all stages of growth</li>
      </ul>
<p class="spacer_s2">&nbsp;</p>
    </div>
  </div>
</div>

<div id="newsmakers" class="parallax space" data-stellar-background-ratio="0.5">
  <div class="container">
    <div class="col-md-6 col-md-offset-6 newsmakers">
      <div id="trigger7" class="spacer_s0"> </div>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
      <h1 class="xlarge light shadow">News</h2>
    </div>
  </div>
</div>

<div id="news" class="container space news">
  <div class="row col-md-12">
    <h1 class="large light">News <small><a href="/news">View all articles</a></small></h1>
    <?php 
    echo views_embed_view('news', $display_id = 'block');
    ?>
  </div>
</div>

<div id="contact-us" class="space contact">
  <div id="map" class="space"></div>
  <div class="container">
    <div class="row col-md-12">
      <p>&nbsp;</p>
      <h1 class="light">Contact Us</h1>
      <div class="col-xs-6 pull-right">
        <h3>We would love to hear from you.</h3>
        <p>Please direct mail inquiries to the address listed below.</p>
        <address>
          <strong>Headquarters:</strong><br>
          <strong>EcoMotors International</strong><br>
          17000 Federal Dr., Suite 200<br>
          Allen Park, MI 48101<br>
          Fax: (313) 982-1935
        </address>
        <p>For EcoMotors press and advertising inquiries, please contact <a href="mailto:lhill@pcgcampbell.com?subject=EM%20inquiry">Lincoln Hill</a>.</p>
        <p>Alternatively, EM may be contacted via email by filling out the provided form.</p>
      </div>
      <?php
      $block = module_invoke('webform', 'block_view', 'client-block-23');
      print $block['content'];
      ?>
    </div>
  </div>
</div>