<img class="full-width-cover" src="/sites/default/files/pr-bg.jpg">
<div class="container">
  <div class="row">
    <div class="col-sm-12" style="padding-bottom: 40px;">
      <h2 class="full-width-page-headline robotolight">
        Public Relations
      </h2>
      <p class="red">What on earth is public relations? You want people talking about you, but what exactly are they saying?</p>
      <p>We are your storytellers, to ensure people are saying the right things. Concise, clear writing is the basis of our specialty – the hub of all communications. We also provide strategic counsel, media relations, crisis communications, and media training.</p>
      <p>Public Relations is reputation management. It’s media service. It’s authentic social media interaction. And it is consistent self-definition. If you aren’t telling your customers and your employees what you and your products/services stand for, they will make it up on their own. And you don’t want that.</p>
      <p>We will develop and tell your story, craft and deliver your message … to the right people, at the right time, using the right means … in a way that will make your key audiences stop and listen.</p>
      <img src="/sites/default/files/pr-icon.png" alt="public relations icon" class="pull-left" style="background:#eee;width:50px;height:50px;border:4px solid #ddd;display:inline-block;"><span style="margin: 15px 0 0 15px;text-decoration: underline;">See Our Public Relations Specialties Below</span></p>
    </div>
  </div>
</div>
<div style="background: #0E233F; border-bottom: 8px solid #dddddd; padding: 40px 0;">
  <div class="container">
    <div class="row">
      <div class="col-sm-5">
        <h3 style="color:#FFFFFF;"><img src="/sites/default/files/arrow_white.png" style="vertical-align:top;">Motorsports</h3>
        <p style="color:#1284C7; margin-left: 2.4em">Sub-Head Blue Needed</p>
        <p style="color:#DDDDDD; margin-left: 2.4em">It’s how we started; we’ve seen it all, done it all. We’re subject matter experts on NASCAR, NHRA, action sports, drifting, endurance racing … you name it. For media relations, sponsorship, marketing activation, creative. Hammer down.</p>
      </div>
      <div class="col-sm-7">
        <img class="img-responsive" style="border: 8px solid #DDDDDD;" src="http://placehold.it/500x280">
      </div>
    </div>
  </div>
</div>
<div style="border-bottom: 8px solid #dddddd; padding: 40px 0;">
  <div class="container">
    <div class="row">
    <div class="col-sm-7" style="padding: 40px 0px;">
        <img class="img-responsive" style="border: 8px solid #DDDDDD;" src="http://placehold.it/500x280">
      </div>
      <div class="col-sm-5">
        <h3><img src="/sites/default/files/arrow_blue.png" style="vertical-align:top">Social Media</h3>
        <p class="red" style="margin-left: 2.4em">Sub-head Red Needed</p>
        <p style="margin-left: 2.4em">Communicating on portable devices like smartphones and tablets is the trend and the future. We know how to engage with people you want to reach, and we are fluent in all platforms – Facebook, Twitter, YouTube, Instagram and LinkedIn.</p>
      </div>
    </div>
  </div>
</div>
<div style="background: #EEE; border-bottom: 8px solid #ddd; padding: 40px 0;">
  <div class="container">
    <div class="row">
      <div class="col-sm-5">
        <h3><img src="/sites/default/files/arrow_blue.png" style="vertical-align:top">Product Launches</h3>
        <p class="red" style="margin-left: 2.4em">Sub-Head Red Needed.</p>
        <p style="margin-left: 2.4em">We help you make product introductions with flair that engage and excite. But of course smoke and mirrors is only the hook. The rest is good, hard, compelling information that retains the flair and delivers the message.</p>
      </div>
      <div class="col-sm-7">
        <img class="img-responsive" style="border: 8px solid #DDDDDD;" src="http://placehold.it/500x280">
      </div>
    </div>
  </div>
</div>
<div style="border-bottom: 8px solid #dddddd; padding: 40px 0;">
  <div class="container">
    <div class="row">
    <div class="col-sm-7" style="padding: 40px 0px;">
        <img class="img-responsive" style="border: 8px solid #DDDDDD;" src="http://placehold.it/500x280">
      </div>
      <div class="col-sm-5">
        <h3><img src="/sites/default/files/arrow_blue.png" style="vertical-align:top">Media Tours/Immersions</h3>
        <p class="red" style="margin-left: 2.4em">Sub-Head Red Needed.</p>
        <p style="margin-left: 2.4em">These are effective ways to involve targeted media, deliver your message and story, and guarantee positive results. We handle media selection and invitations, messaging, content production, logistics and follow-up.</p>
      </div>
    </div>
  </div>
</div>
<div style="background-color: #eee;">
<div class="container" style="padding: 40px 0;">
  <div class="row">
    <div class="col-sm-12">
      <h2>Want Public Relations Help?</h2>
      <h4 class="robotolight red" style="line-height: 1.5">If you have a new service or product, and you want to reach the right customers, we have a powerful wealth of knowledge and experience ready to focus on your particular needs and goals.</h4>
      <p><a href="/reach-out" class="btn btn-primary btn-lg"><img src="/sites/default/files/arrowbox_white.png" style="vertical-align:top;">&nbsp;Let's Get Started</a></p>
    </div>
  </div>
</div>
</div>